{% extends 'master.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Confirmer la suppression</h6>
                </div>
                <div class="card-body">
                    <p>Êtes-vous sûr de vouloir supprimer l'annonce "{{ object.title }}" ?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                        <a href="{% url 'announcement-list' %}" class="btn btn-secondary">Annuler</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
