{% extends 'master.html' %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            {% if form.instance.pk %}
            Modifier l'annonce
            {% else %}
            Nouvelle annonce
            {% endif %}
        </h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.title.id_for_label }}">Titre</label>
                            {{ form.title }}
                            {% if form.title.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.title.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.content.id_for_label }}">Contenu</label>
                            {{ form.content }}
                            {% if form.content.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.content.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                {% if form.instance.pk %}
                                Mettre à jour
                                {% else %}
                                Créer
                                {% endif %}
                            </button>
                            <a href="{% url 'announcement-list' %}" class="btn btn-secondary">Annuler</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
