{% extends 'master.html' %}
{% load static %}
<script src="{% static 'js/htmx.min.js' %}" defer></script>
{% load widget_tweaks %}

{% block style %}
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'vendor/select2/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
{#        <h1 class="h3 mb-0 text-gray-800">Registration</h1>#}
        <a href="{% url 'enroll.subscriptions_list' %}" class="btn btn-danger btn-icon-split btn-sm">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-circle-left"></i>
            </span>
            <span class="text">Cancel</span>
        </a>

        <a href="javascript:void(0)" onclick="$('#enroll-form').submit()" class="btn btn-primary btn-icon-split btn-sm">
            <span class="icon text-white-50">
                <i class="fas fa-save"></i>
            </span>
            <span class="text">Insert</span>
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary text-uppercase">Creation d'un Plan</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form action="{% url 'subscription.store' %}" method="post" id="enroll-form">
                        {% csrf_token %}
                        {% for non_field_error in form.non_field_errors %}
                            <div class="invalid-feedback d-block">
                                {{ non_field_error }}
                            </div>
                        {% endfor %}
                        {% for fields in form %}
                            <div class="form-group">
                                <label for="{{ fields.id_for_label }}" class="text-capitalize">{{ fields.label }}</label>
                                {{ fields }}
                                {% for error in fields.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}      
                  
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    
    {% comment %} <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(function () {
            $('select').each(function () {
                $(this).select2({
                    theme: 'bootstrap4',
                    placeholder: '---',
                });
            });

            $('#id_user').on('change', function () {
                let user = $(this).val();
                get_total_amount("{% url 'enroll.get_course_total_amount' %}", user);
                console.log(user)
            });
        });
    </script> {% endcomment %}
    {% comment %} <script>
        const userSelect = document.getElementById('id_user');
        console.log(userSelect);
        const amountInput = document.getElementById('id_amount');
        console.log(amountInput);
        const endpointUrl = "{% url 'enroll.subscription_amount' %}";

        userSelect.addEventListener('change', () => {
            const userId = userSelect.value;
            const url = endpointUrl.replace('0', userId);
            fetch(url)
            .then(response => response.json())
            .then(feecharge => {
                const amount = feecharge['feecharge'];
                console.log(amount);
                amountInput.value = amount;
            })
            .catch(error => {
                console.error(error);
            });
        });
    </script> {% endcomment %}

        {% comment %} <script>
            function getSelectValue(selectId){
            /**On récupère l'élement html <select>*/
            var selectElmt = document.getElementById(selectId);
            /**
            selectElmt.options correspond au tableau des balises <option> du select
            selectElmt.selectedIndex correspond à l'index du tableau options qui est actuellement sélectionné
            */
            return selectElmt.options[selectElmt.selectedIndex].value;
    }
            const userSelect = document.getElementById('id_user');
            userSelect.addEventListener('change', () => {
            var selectValue = getSelectValue('id_user');
            console.log(selectValue)
            let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;

            const url = "{% url 'enroll.subscription_amount' 0 %}".replace("0", selectValue);

            const request = new Request(url);
            console.log(request);
            fetch(request)
                .then(response => response.json())
                .then(feecharge => {
                    console.log(feecharge);
                    document.getElementById("id_amount").value = feecharge.feecharge;
                })
    })

        </script> {% endcomment %}
{% endblock %}